@font-face{
	font-family: 'Montserrat';
	src: url('..//fonts/Montserrat/Montserrat-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Montserrat';
	src: url('..//fonts/Montserrat/Montserrat-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: 'OpenSans';
	src: url('..//fonts/Open_Sans/OpenSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}